[submodule "custom-web-scraper"]
	path = custom-web-scraper
	url = https://github.com/Josh-Ay/custom-web-scraper.git
[submodule "udemy-price-tracker-bot"]
	path = udemy-price-tracker-bot
	url = https://github.com/Josh-Ay/udemy-price-tracker-bot.git
[submodule "file-extension-rewriter"]
	path = file-extension-rewriter
	url = https://github.com/Josh-Ay/file-extension-rewriter.git
